3/30銘傳大學法律一甲 Python 小考

---

** Python 基本運算 加 減 乘 除**

---

10 加 21=?

100 減 13=?

5 乘 2=?

7 除 4=?

50 除 4 =? (取整數)

19 除 5=?(取餘數)

11的次方=?

Output 輸出

---

輸出 Ming Chuan University

輸出 班級、姓名、學號

輸出將兩個字串相加輸出 'I love programming' 'and MCU'

輸出 布林值

---

輸出布林值與資料型態 x=Ture y=False

輸出布林值與資料型態 1==1 3==2

輸出布林值與資料型態，輸出 True False
x = 10 > 8、
x = 20 < 10、
x = 10 > 15、
x = 20 < 18

指定變數資料型態

---

將你的名字指定變數為 X ，輸出

將你的學號指定變數為 Y ，輸出

數值資料型態

---

a = 123 輸出數字和型態

b = 12.36 輸出數字和型態

x=4 y=3 ==  /=  輸出數字和型態

銘傳大學 輸出文字和型態

字串相加 M=銘傳 N=大學 輸出

重複輸出字串 劍潭捷運站 4次

計算字串長度 convenient

計算字串長度 watermelon

格式化輸出

---

50.3 格式化輸出整數

7.524862 格式化輸出 最小寬度6,取2位小數

My name is 格式化輸出字串 "May"

str.format() 格式化輸出

---

name= Jack
age= 15
格式化輸出 My name is Jack. I am 15 years old.

資料輸入 input()

---

印出 成績輸入系統
請輸入姓名:
請輸入國文成績:
請輸入英文成績:
請輸入數學成績:
姓名 你的三科總分是:

條件判斷 if else


---

請輸入成績: 大於60分以上 印出 成績及格!! 請輸入60

請輸入密碼: 輸入密碼正確，會印出密碼正確，歡迎回家! 密碼是 6012

 年齡18歲以上才能飲酒。請輸入年齡: 判斷18歲以上印出 可以飲酒 未滿18歲 印出不能飲酒 輸入 17 19 印出兩個結果

印出計算期末成績 請輸入分數，系統將回應A、B、C、D、F。 90分以上A、80分以上B、70分以上C、60分以上D、其他F

請輸入兩個數值 z1 z2 ，做四則運算 + - * / ，輸入數值選擇計算方式 ，如果亂輸入運算方式會印出 不支援運算